<h1>Secrets</h1>
<h3>Create Secrets <a href="users/<%= current_user.id%>">Here</a></h3>
<div>
	<div style=" width: 500px; height: 600px; overflow: scroll; padding: 5px;">
		<% @secrets.each do |secret|%>
			<p><%= secret.secret %></p>
			<%= secret.likes.count %> likes

				<% if @user.secrets_liked.exists?(secret.id) %>
					<form action="/likes/<%= secret.id %>" method="post" style="display: inline-block;">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Unlike">
					</form>
				<% else %>
					<form action="/likes/<%= secret.id %>" method="post" style="display: inline-block;">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="submit" value="Like">
					</form>
				<% end %>

			<% if @user.id == secret.user_id%>
				<a style="margin-left: 200px;" href="/secrets/<%= secret.id %>" data-method="delete">Delete</a>
			<% end %>
			<hr>
		<% end %>

	</div>
</div>
