<div style="border: 2px solid black; width: 500px; margin: auto; padding: 10px; background-color: green">
	<p><%= flash['success'] %></p>
</div>
<br>
<div style="border: 2px solid black; width: 500px; margin: auto; padding: 10px;">
	<p>Submitted Info</p>
	<p>Name: <%= @result['name'] %></p>
	<p>Location: <%= @result['location'] %></p>
	<p>Language: <%= @result['language'] %></p>
	<p>Comment: <%= @result['comment'] %></p>
</div>